<%= form_with scope: 'like', url: '/likes' do |form| %>
  <%= form.hidden_field :likeable_type, value: type.class %>
  <%= form.hidden_field :likeable_id, value: type.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= button_tag type: 'submit', class: 'button is-text' do %>
    <span class="icon-text">
      <span class="icon has-text-info">
        <i class="fas fa-heartbeat"></i>
      </span>
      <span><%= type.likes.size %></span>
    </span>
  <% end %>
<% end %>