  <% posts.each do |post| %>

      <article class="media">
        <div class="media-left">
          <figure>INSERT IMAGE HERE</figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="has-text-weight-semibold"><%= post.user.username %></p>
            <p class="has-text-weight-normal has-text-left"><%= post.body %></p>
          </div>
          <nav class="level is-mobile">
            <div class="level-item">
              <%= render 'likes/like-form', type: post %>
            </div>
            <div class="level-item">
              <%= link_to post_path(post) do %>
                <i>comment icon <%= post.comments.size %></i>
              <% end %>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <div class="content">
            <small class="has-text-weight-light"><%= time_ago_in_words(post.created_at.time) %> ago</small>
          </div>
        </div>
      </article>
  <% end %>
