<div class="container">
  <% who_to_add.each do |suggestion| %>
    <%= form_with model: :friend_request do |form| %>
      <%= form.hidden_field :sender, value: current_user %>
      <%= form.hidden_field :receiver, value: suggestion %>
      <article class="media">
        <div class="media-content">
          <p class="content">
            <strong><%= suggestion.username %></strong>
          </p>
        </div>
        <div class="level">
          <div class="level-item">
            <%= form.submit 'Add Friend', class: 'button is-small is-primary'%>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</div>