<% who_to_add.each do |suggestion| %>
  <%= form_with model: FriendRequest.new do |form| %>
    <%= form.hidden_field :sender_id, value: current_user.id %>
    <%= form.hidden_field :receiver_id, value: suggestion.id %>
    <article class="media">
      <div class="media-content">
        <p class="content">
          <strong><%= suggestion.username %></strong>
        </p>
      </div>
      <div class="level">
        <div class="level-item">
          <%= form.submit 'Add Friend', class: 'button is-small is-primary'%>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
