<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <% if params[:action] == 'edit' %>
            <%= render 'user-avatar-form', user: @user %>
          <% elsif @user.avatar.attached? %>
            <%= render 'user-avatar', user: @user %>
            <% if @user == current_user %>
              <%= link_to 'Change avatar (upload)', timeline_edit_path, class: 'button is-info is-inverted is-normal' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="columns is-multiline">
      <div class="column is-3">
        <header class="heading is-size-3 has-text-weight-normal">Profile Details</header>
        <% if params[:action] == 'edit' %>
          <%= render 'bio-form', user: @user %>
        <% else %>
          <%= render 'bio', bio: @user.bio, user: @user %>
        <% end %>
          <header class="heading is-size-3 has-text-weight-normal">Friends List</header>
        <%= render 'friends-list-sample', friends_list: @friends_list %>
      </div>
      <div class="column is-6">
        <% if @user == current_user %>
          <%= render 'posts/post-form' %>
          <br>
        <% end %>
        <header class="heading is-size-4 has-text-weight-normal mb-2"><%= @user.username %>'s Posts</header>
        <%= render 'post-list', posts: @posts %>
          <nav class="level">
            <% unless @page.zero? %>
              <div class="level-left">
                <div class="level-item">
                  <%= link_to 'Previous Page', timeline_path(page: @page - 1), class: 'pagination-previous' %>
                </div>
              </div>
            <% end %>
            <% unless @upcoming_posts.empty? %>
              <div class="level-right">
                <div class="level-item">
                  <%= link_to 'Next Page', timeline_path(page: @page + 1), class: 'pagination-next' %>
                </div>
              </div>
            <% end %>
          </nav>
      </div>
      <div class="column is-3">
        <header class="heading is-size-4 has-text-weight-normal">"Suggested" Friends</header>
        <% if @who_to_add.empty? %>
          <p class="content has-text-weight-light has-text-centered"> 
            <em>~~No suggestions at the moment~~</em>
          </p>
        <% else %>
          <div class="container">
            <%= render 'who-to-add', who_to_add: @who_to_add %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
