<div class="level">
  <div class="level-item">
    <h3 class="title is-3 has-text-weight-normal">Friend Requests</h3>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="tabs is-centered is-large">
      <ul>
        <li class="<%= 'is-active' unless params[:sent] %>"><%= link_to 'Received', friend_requests_path %></li>
        <li class="<%= params[:sent]%>"><%= link_to 'Sent (pending)', friend_requests_path(sent: 'is-active', method: 'receiver') %></li>
      </ul>
    </div>
    <ul>
      <% @requests.each do |request, user| %>
        <article class="media">
          <div class="media-left">
            <%= render 'users/user-avatar', user: user %>
          </div>
          <media-content>
            <div class="content is-large">
              <strong><%= user.username %></strong> | <small> <%= link_to 'Profile', user_path(user) %> </small> 
            </div>
            <div class="level is-mobile">
              <% if params[:sent] == 'is-active' %>
                <div class="level-item">
                  <%= link_to 'Delete request', friend_request_path(request), method: :delete, class: 'button is-danger is-inverted' %>
                </div>
              <% else %>
                <div class="level-item">
                  <%= render 'request-update-form', request: request, response: 'Accept' %>
                </div>
                <div class="level-item">
                  <%= render 'request-update-form', request: request, response: 'Ignore' %>
                </div>
              <% end %>
            </div>
          </media-content>
        </article>
      <% end %>
    </ul>
  </div>
</section>