<section class="section">
  <div class="container">
    <div class="column is-7 ml-6">
      <article class="media">
        <div class="media-left">
          <%= render 'users/user-avatar', user: @post.user %>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <%= link_to user_path(@post.user) do %>
                <span class="has-text-weight-semibold"><%= @post.user.username %></span>
                <% end %>
                <br>
              <span class="has-text-weight-normal"><%= @post.body %>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <%= render 'likes/like-form', type: @post %>
              </div>
              <%= render 'post-components', post: @post %>
            </div>
          </nav>
        </div>
      </article>
    </div>
    <%= render 'comments/comment-list', comments: @comments, post: @post %>
  </div>
</section>