<!DOCTYPE html>
<html>
  <head>
    <title>OdinSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="content is-medium"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-warning">
        <p class="content is-medium"><%= alert %></p>
      </div>  
    <% end %>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <p class="content is-medium"><%= flash[:error] %></p>
      </div>  
    <% end %>
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <div class="navbar-item">
          <% if user_signed_in? %>
          <%= link_to root_path do %>
            <h4 class="title is-4 is-family-code has-text-weight-light has-text-info ml-4">OdinSocial</h4>
          <% end %>
          <% else %>
            <h4 class="title is-4 is-family-code has-text-weight-light has-text-info ml-4">OdinSocial</h4> 
          <% end %>
        </div>
      </div>
      <div class="navbar-end mr-6">
        <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">
                <div class="navbar-item has-text-weight-normal">
                  <%= current_user.username %>
                </div>
              </div>
              <div class="navbar-dropdown">
                <%= link_to root_path, class: 'navbar-item' do %>
                  <p class="content is-medium">Feed</p>
                <% end %>
                <%= link_to current_user, class: 'navbar-item' do %>
                  <p class="content is-medium">Timeline</p>
                <% end %>
                <%= link_to friend_requests_path, class: 'navbar-item' do %>
                  <p class="content is-medium">Friend Requests</p>
                <% end %>
                <%= link_to friends_list_path, class: 'navbar-item' do %>
                  <p class="content is-medium">Friends List</p>
                <% end %>
                <hr class="navbar-divider">
                <%= link_to users_path, class: 'navbar-item' do %>
                  <p class="content is-medium">Users Index</p>
                <% end %>
                <%= link_to edit_user_registration_path, class: 'navbar-item' do %>
                  <p class="content is-medium">Edit Account</p>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do  %>
                  <p class="content is-medium">Logout</p>
                <% end %>
              </div>
            </div>
        <% else %>
                <%= link_to new_user_session_path, class: 'navbar-item' do %>
                  <p class="content is-medium has-text-link-dark">Log In</p>
                <% end %>
                <%= link_to new_user_registration_path, class: 'navbar-item' do %>
                  <p class="content is-medium has-text-success-dark">Sign Up</p>
                <% end %>
        <% end %>
      </div>
    </nav>
     <hr style="border-width:1px;">
      <%= yield %>
    </div>
  </body>
</html>
