<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="content is-medium"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-warning">
        <p class="content is-medium"><%= alert %></p>
      </div>  
    <% end %>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <p class="content is-medium"><%= flash[:error] %></p>
      </div>  
    <% end %>
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <div class="navbar-item">
          <%= link_to root_path do %>
            <h4 class="title is-4 is-family-code has-text-weight-light has-text-info ml-4">OdinFacebook</h4>
          <% end %>
        </div>
      </div>
      <div class="navbar-end mr-6">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <div class="navbar-item has-text-weight-normal">
              Options
            </div>
          </div>
          <div class="navbar-dropdown">
            <% if user_signed_in? %>
              <%= link_to current_user, class: 'navbar-item' do %>
                <p class="content is-medium">Timeline</p>
              <% end %>
              <%= link_to friend_requests_path, class: 'navbar-item' do %>
                <p class="content is-medium">Friend Requests</p>
              <% end %>
              <%= link_to users_path, class: 'navbar-item' do %>
                <p class="content is-medium">Users Index</p>
              <% end %>
              <hr class="navbar-divider">
              <%= link_to edit_user_registration_path, class: 'navbar-item' do %>
                <p class="content is-medium">Edit Account</p>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do  %>
                <p class="content is-medium">Logout</p>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: 'navbar-item' do %>
                <p class="content is-medium">Sign In</p>
              <% end %>
              <%= link_to new_user_registration_path, class: 'navbar-item' do %>
                <p class="content is-medium">Sign Up</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
      <%= yield %>
    </div>
  </body>
</html>
